.navbar {
  background-color: rgba(0, 0, 0, 1);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 10px #000;
}

.navbar-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Cores da navbar */

.navbar-vermelha {
  background-color: rgba(180, 0, 0, 0.8);
}

.navbar-azul {
  background-color: rgba(0, 0, 180, 0.8);
}

.navbar-verde {
  background-color: rgba(0, 140, 0, 0.8);
}
