body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("https://github.com/CaioCohen/CorruptedDominion/blob/main/src/assets/imgs/fundo.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
